.go-back {
  @extend .one-line-flex;
  justify-content: flex-start;
}

.detail-top-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.player-body {
  padding: 10px;
  border-radius: 5%;
  width: 400px;
  height: 590px;
  background: #fff;
  margin: auto;
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .15), 0 15px 35px 0 rgba(0, 105, 92, .5);
}

.player-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: auto;
  justify-content: space-between;
  height: 94%;
}

.fa-btn {
  border: 0;
  cursor: pointer;

  .big {
    font-size: 30px;
  }
}

.image {
  border-radius: 5%;
  height: 140px;
  margin: 10px;
}

.track-info {
  height:auto;
  width:auto;
  overflow: auto;
}

.social-media-div {
  @extend .one-line-flex;

  div {
    cursor: pointer;
    opacity: 1;
  }

  div:hover {
    opacity: .8;
    transition: opacity 1.5s;
  }
}
