.player {
  position: relative;
  z-index: 5;
  width: 100%;
  padding: 18px 0;

}
.player_body {
  display: flex;
  align-items: center;
  border-radius: 5%;
  position: relative;
  z-index: 10;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  width: 400px;
  height: 590px;
  margin: auto;
  background: rgba(255, 255, 255, 1);
  box-shadow: 0 5px 10px 2px rgba(0, 0, 0, .15), 0 15px 35px 0 rgba(0, 105, 92, .5);
  flex-direction: column;
}

.image {
  padding: 5%;
  margin: 8%;
  border-radius: 5%;
  display: block;
  width: 60%;
  height: auto;
  border: black solid 2px;
}

.track-info {
  height:20px;
  width:auto;
  overflow: auto;
}
